.section {
  text-align: center;
  padding: 4.9375em 0 5.3125em;
  background: #fff;

  .hdg-lv2 {
    .text-white {
      background: #8f69ff;
      color: #fff;
      padding: 0 5px;

      &::after {
        content: none;
      }
    }
  }
  .list-intro {
    padding-left: 50px;
    padding-right: 50px;

    @media only screen and (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }

    .h4 {
      font-weight: bold;
      font-size: 1.125rem;

      @media only screen and (max-width: 767px) {
        font-size: 0.875rem;
      }
    }
  }
  &_row {
    display: flex;
    column-gap: 80px;
    justify-content: space-between;
    @media only screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
  &_desc {
    width: 800px;
    text-align: left;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    & h2 {
      color: #282828;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      margin-top: 0;
      margin-bottom: 51px;
      @media only screen and (max-width: 767px) {
        font-size: 38px;
        margin-bottom: 31px;
        text-align: center;
      }
    }
    &_row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      @media only screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &_col {
      & h3 {
        margin-top: 0;
        margin-bottom: 11px;
        color: #8f69ff;
        font-size: 48px;
        font-weight: 800;
        letter-spacing: 0.25px;
        @media only screen and (max-width: 767px) {
          font-size: 38px;
          margin-bottom: 21px;
          text-align: center;
        }
      }
      & p {
        margin: 0;
        color: #636e72;
        font-family: Inter;
        font-size: 20px;
        font-weight: 300;
        line-height: 32px;
        @media only screen and (max-width: 767px) {
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }

  &_code {
    width: 300px;
    position: relative;
    @media only screen and (max-width: 767px) {
      margin: auto;
    }
    &_image {
    }
    &_techbox {
      text-align: left;
      padding: 20px 20px 51px 20px;
      width: 100%;
      background: #f9f9f9;
      border-radius: 20px;
      border: 0.5px #b2bec3 solid;
      position: absolute;
      top: 100px;
      @media only screen and (max-width: 767px) {
        position: static;
        margin-bottom: 51px;
      }
      & h3 {
        color: #282828;
        font-size: 24px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 10px;
      }
      & p {
        color: #636e72;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      & span {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
      }
    }
  }
}
