@import "@assets/css/main.scss";
.search {
  width: 335px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  border-radius: 39px;
  display: flex;
  padding: 10px;
  margin: 30px 0px 30px 0px;
}
